igabop-src/src/main/resources/vplm/environment/VPMAdmin.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="VPMAdmin" targetNamespace="VPMAdmin"
           elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <xs:complexType name="AdminObjects">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="tns:DOMAIN"/>
                <xs:element ref="tns:PROJECT"/>
                <xs:element ref="tns:HOST"/>
                <xs:element ref="tns:SERVER"/>
                <xs:element ref="tns:EXTERNSITE"/>
                <xs:element ref="tns:ENVIRONMENT"/>
            </xs:choice>
            <xs:element ref="tns:LOCALSITE"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="tns:DOMAIN"/>
                <xs:element ref="tns:PROJECT"/>
                <xs:element ref="tns:HOST"/>
                <xs:element ref="tns:SERVER"/>
                <xs:element ref="tns:EXTERNSITE"/>
                <xs:element ref="tns:ENVIRONMENT"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AdminObjects" type="tns:AdminObjects"/>
    <xs:complexType name="DOMAIN">
        <xs:sequence>
            <xs:element ref="tns:BUSINESSDOMAIN" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required"/>
        <xs:attribute name="Oid" type="xs:ID" use="required"/>
        <xs:attribute name="Visible" type="xs:string"/>
        <xs:attribute name="RootBusinessDomain" type="xs:IDREF"/>
        <xs:attribute name="Customisable">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="N"/>
                    <xs:enumeration value="Y"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:element name="DOMAIN" type="tns:DOMAIN"/>
    <xs:complexType name="BUSINESSDOMAIN">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="Oid" type="xs:ID" use="required"/>
                <xs:attribute name="DataModeler" type="xs:string"/>
                <xs:attribute name="EnoviaFlag">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="N"/>
                            <xs:enumeration value="Y"/>
                            <xs:enumeration value="A"/>
                            <xs:enumeration value="B"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="MetaDataName" type="xs:string"/>
                <xs:attribute name="Editor" type="xs:string"/>
                <xs:attribute name="Loadable">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="Y"/>
                            <xs:enumeration value="N"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Migratable">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="Y"/>
                            <xs:enumeration value="N"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="BUSINESSDOMAIN" type="tns:BUSINESSDOMAIN"/>
    <xs:complexType name="PROJECT">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="tns:DATARDB"/>
            <xs:element ref="tns:DATAFILE"/>
        </xs:choice>
        <xs:attribute name="Name" type="xs:string" use="required"/>
        <xs:attribute name="Oid" type="xs:ID" use="required"/>
        <xs:attribute name="VaultServers" type="xs:IDREFS"/>
        <xs:attribute name="AppServers" type="xs:IDREFS"/>
        <xs:attribute name="DataServers" type="xs:IDREFS"/>
    </xs:complexType>
    <xs:element name="PROJECT" type="tns:PROJECT"/>
    <xs:complexType name="SERVER">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="tns:APPSERVER"/>
            <xs:element ref="tns:VAULTSERVER"/>
            <xs:element ref="tns:DATASERVER"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="SERVER" type="tns:SERVER"/>
    <xs:complexType name="APPSERVER">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="Oid" type="xs:ID" use="required"/>
                <xs:attribute name="AppName" type="xs:string"/>
                <xs:attribute name="AppType" type="xs:string"/>
                <xs:attribute name="MaxInst" type="xs:string"/>
                <xs:attribute name="Host" type="xs:IDREF"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="APPSERVER" type="tns:APPSERVER"/>
    <xs:complexType name="VAULTSERVER">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="Oid" type="xs:ID" use="required"/>
                <xs:attribute name="AliasName" type="xs:string" use="required"/>
                <xs:attribute name="DLFMHost" type="xs:IDREF"/>
                <xs:attribute name="VaultServerHost" type="xs:IDREF"/>
                <xs:attribute name="SecuredPath" type="xs:string"/>
                <xs:attribute name="TmpPath" type="xs:string"/>
                <xs:attribute name="VaultType">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="FILE"/>
                            <xs:enumeration value="DLFM"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="VaultServerPort" type="xs:string"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="VAULTSERVER" type="tns:VAULTSERVER"/>
    <xs:complexType name="DATASERVER">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="Oid" type="xs:ID" use="required"/>
                <xs:attribute name="Authentication" type="xs:string"/>
                <xs:attribute name="DBMS" type="xs:string"/>
                <xs:attribute name="ConnectionString" type="xs:string"/>
                <xs:attribute name="Host" type="xs:IDREF"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DATASERVER" type="tns:DATASERVER"/>
    <xs:complexType name="DATARDB">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="Oid" type="xs:ID" use="required"/>
                <xs:attribute name="AliasName" type="xs:string" use="required"/>
                <xs:attribute name="OwnerDico" type="xs:string" use="required"/>
                <xs:attribute name="DataServer" type="xs:IDREF"/>
                <xs:attribute name="Driver" type="xs:string"/>
                <xs:attribute name="BusinessDomain" type="xs:IDREF" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DATARDB" type="tns:DATARDB"/>
    <xs:complexType name="DATAFILE">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="Oid" type="xs:ID" use="required"/>
                <xs:attribute name="AliasName" type="xs:string" use="required"/>
                <xs:attribute name="HostRepository" type="xs:IDREF"/>
                <xs:attribute name="Driver" type="xs:string"/>
                <xs:attribute name="BusinessDomain" type="xs:IDREF" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DATAFILE" type="tns:DATAFILE"/>
    <xs:complexType name="HOST">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="Oid" type="xs:ID" use="required"/>
                <xs:attribute name="OSType" type="xs:string"/>
                <xs:attribute name="OSVersion" type="xs:string"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="HOST" type="tns:HOST"/>
    <xs:complexType name="LOCALSITE">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="Oid" type="xs:ID" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="LOCALSITE" type="tns:LOCALSITE"/>
    <xs:complexType name="EXTERNSITE">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="Oid" type="xs:ID" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="EXTERNSITE" type="tns:EXTERNSITE"/>
    <xs:complexType name="ENVIRONMENT">
        <xs:sequence>
            <xs:element ref="tns:ENVIRONMENT.DOMAIN" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required"/>
        <xs:attribute name="Oid" type="xs:ID" use="required"/>
        <xs:attribute name="DS">
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="N"/>
                    <xs:enumeration value="Y"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:element name="ENVIRONMENT" type="tns:ENVIRONMENT"/>
    <xs:complexType name="ENVIRONMENT.DOMAIN">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="tns:ENVIRONMENT.DOMAIN.USABLE" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:element ref="tns:ENVIRONMENT.DOMAIN.AUTHORING"/>
            <xs:choice>
                <xs:element ref="tns:ENVIRONMENT.DOMAIN.USABLE" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required"/>
        <xs:attribute name="Oid" type="xs:ID" use="required"/>
        <xs:attribute name="Domain" type="xs:IDREF" use="required"/>
    </xs:complexType>
    <xs:element name="ENVIRONMENT.DOMAIN" type="tns:ENVIRONMENT.DOMAIN"/>
    <xs:complexType name="ENVIRONMENT.DOMAIN.AUTHORING">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="DataDomain" type="xs:IDREF" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ENVIRONMENT.DOMAIN.AUTHORING" type="tns:ENVIRONMENT.DOMAIN.AUTHORING"/>
    <xs:complexType name="ENVIRONMENT.DOMAIN.USABLE">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="DataDomain" type="xs:IDREF" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ENVIRONMENT.DOMAIN.USABLE" type="tns:ENVIRONMENT.DOMAIN.USABLE"/>
</xs:schema>
